<% include adminheader %>


<section id="content">

<div class="container">
<div class="row">
<div class="span12">

<h1>Add Category Here!!!</h1>
<span style="font-size:20px; color:orange;"><%= output %></span>
<form method="post" action="/admin/addcat" enctype="multipart/form-data">
<table class="table table-bordered">
<tr>
<td>Category Name</td>
<td><input style='width:100%;height:10%;' type="text" name="catnm" placeholder="Enter category name"/></td>
</tr>
<tr>
<td>Category Icon	</td>
<td><input type="file" name="caticon"/></td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Add Category"/></td>
</tr>
</table>
</form>


</div>
</div>


</div>
</section>


<% include adminfooter %>
