<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Findus?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="../css/bootstrap.css" rel="stylesheet" />
  <link href="../css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="../css/fancybox/jquery.fancybox.css" rel="stylesheet">
  <link href="../css/jcarousel.css" rel="stylesheet" />
  <link href="../css/flexslider.css" rel="stylesheet" />
  <link href="../css/style.css" rel="stylesheet" />
  <!-- Theme skin -->
  <link href="skins/default.css" rel="stylesheet" />
  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="../img/mylogo.png" />

  <!-- =======================================================
    Theme Name: Flattern
    Theme URL: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <div id="wrapper">
    <!-- toggle top area -->
   
    </div>
    <!-- end toggle top area -->
    <!-- start header -->
    <header>
      <div class="container ">
        <!-- hidden top area toggle link -->
        <div >
        </div>
        <!-- end toggle link -->
        <div class="row nomargin">
          <div class="span12">
            <div class="headnav">
             
            </div>
          
            
            <!-- Reset Modal -->
            <div id="myReset" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myResetModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="myResetModalLabel">Reset your <strong>password</strong></h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="inputResetEmail">Email</label>
                    <div class="controls">
                      <input type="text" id="inputResetEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn">Reset password</button>
                    </div>
                    <p class="aligncenter margintop20">
                      We will send instructions on how to reset your password to your inbox
                    </p>
                  </div>
                </form>
              </div>
            </div>
            <!-- end reset modal -->
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <div class="logo" style="width: 200px;" >
              <a href="#"><img src="../img/mylogo.png" alt="" class="logo" /></a>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li><a href="/admin">Admin Home </a></li>
                   <!--    <li><a href="/admin/manageusers">Manage Users</a></li>
                   <li>
                      <a href="/">Home <i class="icon-angle-down"></i></a></li>
                    <li>
                      <a href="/about">About <i class="icon-angle-down"></i></a></li>
                    <li>
                      <a href="/Contact">Contact <i class="icon-angle-down"></i></a></li>
                    <li class="dropdown">
                      <a href="/service">Service <i class="icon-angle-down"></i></li>-->
                     <li>                  
                      <a href="/admin/manageusers">Manage Users </a>

                    </li>
                    <li>                  
                      <a href="/admin/addcat">Add Category </a>

                    </li>

                    <li>                  
                      <a href="/admin/addsubcat">Add Subcategory </a>

                    </li>
                    <li class="dropdown">
                      <a>Setting<i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/cpassadmin">Change Password </a></li>
                        <li><a href="#">Edit Profile</a></li>

                      </ul>
               
                      </li>
                    <li >
                      <a href="/logout">logout </a></li>
                    <li>
                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <b>Welcome : <%= sunm %></b>
    <!-- end header -->
