<section id="featured">
      <!-- start slider -->
      <!-- Slider -->
      <div id="nivo-slider">
        <div class="nivo-slider">
          <!-- Slide #1 image -->
          <img src="../img/rajwada.png" style="width: auto; height: 600px;" alt="" title="#caption-1" />
          <!-- Slide #2 image -->
          <img src="../img/vijayngr.png" style="width: auto; height: 600px;" alt="" title="#caption-2" />
          <!-- Slide #3 image -->
          <img src="../img/vijayngr.png" style="width: auto; height: 600px;" alt="" title="#caption-3" />
        </div>
        <div class="container">
          <div class="row">
            <div class="span12">
              <!-- Slide #1 caption -->
              <div class="nivo-caption" id="caption-1">
                <div>
                  <h2> <strong>Rajwada </strong></h2>
                  <p>
                  </p>
                  <a href="#" class="btn btn-theme">Read More</a>
                </div>
              </div>
              <!-- Slide #2 caption -->
              <div class="nivo-caption" id="caption-2">
                <div>
                  <h2> <strong>Vijay Nagar</strong></h2>
                  <p>
                  </p>
                  <a href="#" class="btn btn-theme">Read More</a>
                </div>
              </div>
              <!-- Slide #3 caption -->
              <div class="nivo-caption" id="caption-3">
                <div>
                  <h2> <strong>Vijay Nagar</strong></h2>
                  <p>
                  </p>
                  <a href="#" class="btn btn-theme">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end slider -->