<% include userheader %>



 
  <section id="bottom">
    <div class="container">
      <div class="row">
        <div class="span12">
    <h1>Welcome to Findus</h1> 
    <h2>Home Page</h2>
    </div>
    </div>
    
    
    </div>
  </section>
 
<% include userfooter %>